@model AppUser

@{
}

<div class="row" id="details_row">
	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<label asp-for="FirstName" class="control-label"></label>
		<input asp-for="FirstName" class="form-control" />
		<label asp-for="LastName" class="control-label"></label>
		<input asp-for="LastName" class="form-control" />
		<label asp-for="Birthdate" class="control-label"></label>
		<input asp-for="Birthdate" class="form-control" />
		<label asp-for="Email" class="control-label"></label>
		<input asp-for="Email" class="form-control" />
		<fieldset name="roles">
			@foreach(var role in (List<SelectListItem>)ViewBag.RoleOptions)
			{
				var check = role.Selected ? "checked" : "";
				<label for="@role.Value">@role.Text</label>
				<input type="checkbox" id="@role.Value" name="role:@role.Value" @check />
			}
		</fieldset>

		<input type="submit" value="Save" class="btn btn-primary" />
	</form>
</div>

@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
