<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="vw-100 vh-100">
	<div class="container vw-100 vh-100" style="height:100vh;">
		<header>
			<nav class="navbar navbar-expand w-100" style="height:100px;">
				<div class="container w-100">
					<div class="row align-items-end w-100">
						<div class="col-2" style="width:100px;">
							<a class="navbar-brand d-inline-block" asp-controller="Home" asp-action="Index"><h2>J.E</h2></a>
						</div>
						<div class="col-7">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Home" asp-action="About">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " asp-controller="Home" asp-action="Projects">Projects</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="/GuessingGame">Guessing Game</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " asp-controller="People" asp-action="Index">People</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " asp-controller="Cities" asp-action="Index">Cities</a>
								</li>
							</ul>
						</div>
						<div class="col-1 justify-content-end">
							<a href="/FeverCheck" class="nav-link">Fever?</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		@RenderBody()
		<footer>
			<div style="height:200px;">
				<p>@DateTime.Now.ToString("D")</p>
				<p>&copy;Jens Eresund</p>
			</div>
		</footer>
	</div>
</body>
</html>