@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<iframe class="w-100 h-100" src="https://docs.google.com/document/d/e/2PACX-1vTzj5wFpNs8I4wLYJlgPbryYJ41XA9J6ivWfmjRGZNwdv8WcrX7J75jiBOKfUCOGoUsjRucytOkfynx/pub?embedded=true">
</iframe>