@{
	ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<ul>
	<li><a href="https://www.linkedin.com/in/jens-eresund-958654163/">LinkedIn</a></li>
	<li><a href="https://github.com/JEres89">GitHub</a></li>
</ul>
