
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<article>
	<a href="#"><h3>Virtual Vending machine</h3></a>
	<p>
		An assignment for creating an interactive vending machine with item stocks and money-handling.
	</p>
</article>