@model PeopleModel

@{
	_ = Model.GetItem;
}

<div id="peopleList" class="container">
	<div class="row" id="columnNames"><p>
		@for(int i = 0 ; i < Person.StringifyNames.Length ; i++)
		{
			<div class="col @Person.StringifyNames[i]">
				@Person.StringifyDisplayNames[i]
			</div>
		}
		<div class="col">Remove</div></p>
	</div>
	@while(!Model.ListEnd)
	{
		<partial name="_person" model="@Model.GetItem" />
	}
</div>
