@model PeopleViewModel

@{
	_ = Model.GetItem;
}
<style>
	#peopleList .itemRow:hover {
		background-color: moccasin;
		cursor: pointer;
	}
	.removeEntitybtn:hover {
		background-color: orangered;
		cursor: pointer;
	}
</style>
<div id="peopleList" class="container">
	<div class="row" id="columnNames"><p>
		@for(int i = 0 ; i < Person.StringifyDisplayNames.Length ; i++)
		{
			<div class="col">
				@Person.StringifyDisplayNames[i]
			</div>
		}
		<div class="col">Remove</div></p>
	</div>
	@while(!Model.ListEnd)
	{
		<partial name="_Person" model="@Model.GetItem" />
	}
</div>
