@model PeopleModel
@{
	ViewData["Title"] = "People";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>People Index</h1>
<div class="row">
	<div class="col-2">
		<input type="button" id="show_list" value="List people" />
	</div>
	<div class="col-2">
		<input type="button" id="show_details" value="Details" />
	</div>
</div>
<p id="message"></p>
<div class="container" id="list_container" style="display:none">
	<form id="searchPerson">
		<fieldset>
			<legend>Find person</legend>
			<input type="hidden" name="formName" value="searchPerson" />
			<input type="text" id="searchValue" name="searchValue" placeholder="Search" />
			<input type="submit" id="searchSubmit" value="Find" />
		</fieldset>
	</form>

	<form id="createPerson">
		<fieldset>
			<legend>Add person</legend>
			<input type="hidden" name="formName" value="createPerson" />
			<label for="createName">Full name</label>
			<input type="text" id="createName" name="createName" placeholder="Firstname Lastname" />

			<label for="createPhone">Phone number</label>
			<input type="number" id="createPhone" name="createPhone" placeholder="0046709876543" />

			<label for="createCity">City</label>
			<input type="text" id="createCity" name="createCity" placeholder="Cityname" />

			<input type="submit" id="createSubmit" value="Add Person" />
		</fieldset>
	</form>

	<div id="peopleView">
		<partial name="_PeopleList" model="Model" />
	</div>
</div>

<div class="container" id="details_container" style="display:none">
	<input type="number" id="id_text" placeholder="Person ID" />
	<input type="button" id="getDetails" value="Show" />
	<input type="button" id="removePerson" value="Delete" />

	<div id="detailsView">
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
		$("#show_list").on("click", function () {
			$("#details_container").css("display", "none");
			$("#list_container").css("display", "block");
		});
		$("#show_details").on("click", function () {
			$("#list_container").css("display", "none");
			$("#details_container").css("display", "block");
		});

		$("form").on("submit", function (ev) {
			ev.preventDefault();

			let formData = new FormData(this);
			$.ajax(
				{
					type: 'POST',
					url: "/People/FormSubmit",
					contentType: false,
					processData: false,
					data: formData,
					success: function (response) {

						$("#peopleView").html(response);
					},
					error: function (response) {
						$("#message").html(response);
					}
				}
			);
		});

		$("#getDetails").on("click", function () {
			let id = parseInt($("#id_text").val());

			$.ajax(
				{
					type: 'GET',
					url: "/People/Details/" + id,
					success: function (response) {
						$("#detailsView").html(response);
					},
					error: function (response) {
						$("#detailsView").html(response.responseJSON);
					}
				});
		});
		$("#removePerson").on("click", function () {
			let id = parseInt($("#id_text").val());
			$.ajax(
				{
					type: 'POST',
					url: "/People/Delete/" + id,
					success: function (response) {
						$("#" + id).remove();
						$("#detailsView").html(response);
					},
					error: function (response) {

						$("#detailsView").html(response.responseJSON);
					}
				});
		});
		$(document).on("click", "[name='delete_row']", function ()
		{
			let row = $(this).closest(".row");

			let id = parseInt(row.prop("id"));
			$.ajax(
				{
					type: 'POST',
					url: "/People/Delete/" + id,
					success: function (response) {
						if (row.parent().attr("id") == "detailsView") {
							$("#" + id).remove();
							$("#detailsView").html(response);
						} else {
							$("#message").html(response);
							row.remove;
						}
						row.remove();
					},
					error: function () {

					}
				});
		});
	});
</script>
