@model PeopleModel
@{
	ViewData["Title"] = "People";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h1>People Index</h1>

<form id="searchPerson">
	<fieldset>
		<legend>Find person</legend>
		<input type="hidden" name="formName" value="searchPerson" />
		<input type="text" id="searchValue" name="searchValue" placeholder="Search" />
		<input type="submit" id="searchSubmit" value="Find" />
	</fieldset>
</form>

<form id="createPerson" >
	<fieldset>
		<legend>Add person</legend>
		<input type="hidden" name="formName" value="createPerson" />
		<label for="createName">Full name</label>
		<input type="text" id="createName" name="createName" placeholder="Firstname Lastname" />

		<label for="createPhone">Phone number</label>
		<input type="number" id="createPhone" name="createPhone" placeholder="0046709876543" />

		<label for="createCity">City</label>
		<input type="text" id="createCity" name="createCity" placeholder="Cityname" />

		<input type="submit" id="createSubmit" value="Add Person" />
	</fieldset>
</form>

<div id="peopleView">
	<partial name="_PeopleList" model="Model" >
</div>

<script type="text/javascript">
	
	$(document).ready(function () {

		$("form").on("submit", function (ev) {
			ev.preventDefault();

			let formData = new FormData(this);
			$.ajax(
				{
					type: 'POST',
					url: "/People/FormSubmit",
					contentType: false,
					processData: false,
					data: formData,
					success: function (response) {
						
						$("#peopleView").html(response);
					},
					error: function () {
						$("#searchSubmit").val("fail");
					}
				}
			);
		});

		$("#peopleView").on("click", "[name='delete_row']", function ()
		{
			let row = $(this).closest("tr");
			let id = parseInt(row.prop("id").split(' ')[1]);
			$.ajax(
			{
				type: 'POST',
				url: "/People/Delete/" + id,
				success: function (response) {
					$("#peopleView").html(response);
				},
				error: function () {

				}
			});
		});
	});
</script>
