@model PeopleViewModel
@{
	ViewData["Title"] = "People";
}

<div class="container" id="People_view" style="min-height: 600px;">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<h1>People Index</h1>
	<div class="row">
		<div class="col-2">
			<input type="button" id="show_list" value="List People" />
		</div>
		<div class="col-2">
			<input type="button" id="show_details" value="Details" />
		</div>
		<div class="col-2">
			<input type="button" id="new_entry" value="Add a new Person" />
		</div>
	</div>

	<p id="message">@Html.Raw(ViewBag.message) </p>

	<div class="container" id="details_container" style="display:none">
		<input type="number" id="id_text" placeholder="Person ID" />
		<input type="button" id="get_details" value="Show" />
		<input type="button" id="remove_row" value="Delete" />
		<input type="button" id="add_lang" value="Add languages" style="display:none"/>

		<div id="details_view">
		</div>
	</div>
	<div id="create_view" style="display:none">
	</div>
	<div class="container" id="list_container" >
		<form id="search_entries">
			<fieldset>
				<legend>Find Person</legend>
				<input type="hidden" name="formName" value="search_person" />
				<input type="text" id="search_value" placeholder="Search" />
				<input type="submit" id="search_submit" value="Find" />
			</fieldset>
		</form>

		<div id="list_view">
			<partial name="_PeopleList" model="@Model" />
		</div>
	</div>

	<script src="~/Scripts/ListView_scripts.js"></script>
</div>